<h1>Add new Round</h1>
<%= form_for [@game, @round] do |f| %>
  <% @game.users.each do |u| %>
    <div class="form-group">
      <label><%= u.name %></label>
      <%= f.fields_for :scores, @round.scores.build do |s| %>
        <%= s.number_field :value, {min: -52, max: 52, class: "form-control"}  %>
        <%= s.hidden_field :user_id, value: u.id %>
      <% end %>
    </div>

  <% end %>
   <p>
      <%= f.submit class: "btn btn-primary" %>
   </p>
<% end %>
