<h1>Game <%= @game.id %></h1>
<p class="text-right">
  <span class="badge badge-secondary <%= @game.status.downcase %>">
    <%= @game.status %>
  </span>
</p>
<p>Game details</p>



<table class="table table-striped">
  <tr>
    <th>Round</th>
    <% @game.users.each do |u| %>
      <th><%= u.name %></th>
    <% end %>
  </tr>
    <% @game.rounds.each.with_index do |r,i| %>
    <tr>
      <td><%= i + 1 %></td>
      <% @game.users.each do |u| %>
        <td><%= r.scores.find_by(user: u).value %></td>
      <% end %>
    </tr>
    <% end %>
    <% if @game.rounds.any? %>
    <tr>
      <td>Total</td>
        <% @game.users.each do |u| %>
          <td><%= @game.scores.where(user: u).pluck(:value).sum %></td>
        <% end %>
    </tr>
    <% end %>
</table>

<%= link_to "Add a Round", new_game_round_path(@game.id) %>
