<h1>Game <%= @game.id %></h1>
<p class="text-right">
  <span class="badge badge-secondary <%= @game.status.downcase %>">
    <%= @game.status %>
  </span>
</p>

<table class="table table-striped">
  <tr>
    <th>Round</th>
    <% @game.users.each do |u| %>
      <th><%= u.name %></th>
    <% end %>
    <th>Actions</th>
  </tr>
    <% @game.rounds.each.with_index do |r,i| %>
    <tr>
      <td><%= i + 1 %></td>
      <% @game.users.each do |u| %>
        <td><%= r.scores.find_by(user: u).value %>
          <% if r.nertz_user_id == u.id %>
            <span>N</span>
          <% end %>
        </td>
      <% end %>
      <td><%= link_to "X", game_round_path(@game.id, r.id),
        method: :delete,
        data: { confirm: 'Are you sure you want to delete this round?' },
        class: "btn btn-outline-danger"
        %></td>
    </tr>
    <% end %>
    <% if @game.rounds.any? %>
    <tr class="total <%= @game.status.downcase %>">
      <td>Total</td>
        <% @game.users.each do |u| %>
          <td><%= @game.scores.where(user: u).pluck(:value).sum %></td>
        <% end %>
        <td></td>
    </tr>
    <% end %>
</table>

<% if @game.status != "Finished" %>
<%= link_to "Add a Round", new_game_round_path(@game.id), class: "btn btn-primary" %>
<% end %>

<%= link_to "Delete Game", game_path(@game.id),
  method: :delete,
  data: { confirm: 'Are you sure you want to delete this game?' },
  class: "btn btn-outline-danger float-right"
%></td>
